<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="dsAlgo" parallel="tests" thread-count="2">

	<listeners>
		<listener class-name="dsAlgoListeners.Listeners" />
		<listener class-name="dsAlgoListeners.MyAnnotationTransformer" />

		<!--<listener
			class-name="com.aventstack.chaintest.plugins.ChainTestListener" />-->
	</listeners>
	<test name="ChromeTest">

		<parameter name="browser" value="chrome" />

		<classes>
			<class name="dsAlgoTests.HomeTest" />
			<class name="dsAlgoTests.SigninTest" />
			<class name="dsAlgoTests.RegisterTest" />
			<class name="dsAlgoTests.DataStructureTest" />
			<class name="dsAlgoTests.ArrayTest" />
			<class name="dsAlgoTests.GraphTest" />
			<class name="dsAlgoTests.TreeTest" />
			<class name="dsAlgoTests.QueueTest" />
			<class name="dsAlgoTests.LinkedListTest" />
			<class name="dsAlgoTests.StackTest" />
		</classes>
	</test>
	<!--<test name="EdgeTest">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="dsAlgoTests.HomeTest" />
			<class name="dsAlgoTests.SigninTest" />
			<class name="dsAlgoTests.RegisterTest" />
			<class name="dsAlgoTests.DataStructureTest" />
			<class name="dsAlgoTests.ArrayTest" />
			<class name="dsAlgoTests.GraphTest" />
			<class name="dsAlgoTests.TreeTest" />
			<class name="dsAlgoTests.QueueTest" />
			<class name="dsAlgoTests.LinkedListTest" />
			<class name="dsAlgoTests.StackTest" />
		</classes>
	</test>-->
	<!--<test name="groups">
		<parameter name="browser" value="chrome" />
		<groups>
			<run>
				<include name="regression" />
			</run>
		</groups>
		<classes>
			<class name="dsAlgoTests.DataStructureTest" />
			<class name="dsAlgoTests.TreeTest" />
		</classes>
	</test>-->
</suite>